.day-wrapper {
  width: 40px;
  margin: 0 auto;
}

.day__today {
  border: 2px solid #f08900;
  border-radius: 4px;
  width: 35px;
  height: 35px;
}

.day__marked {
  border: 2px solid #f08900;
  background-color: #f08900;
  color: #f3f3f4;
  border-radius: 4px;
  width: 35px;
  height: 35px;
}

.day__weekend {
  border: 2px solid white;
  color: #a1a1a1;
  border-radius: 4px;
  width: 35px;
  height: 35px;
}

.day__other {
  width: 35px;
  height: 35px;
  border: 2px solid white;
}

.day__item {
  text-align: center;
}

.day__item--time {
  text-align: center;
  line-height: 18px;
  font-size: 12px;
}

.day___item--number {
  margin-top: 7px;
}

.weekday {
  cursor: pointer;
}

.weekend {
  cursor: pointer;
  color: #a1a1a1;
}

.mat-icon--grey {
  font-size: 7px;
  color: #a1a1a1;
}
.mat-icon--green {
  font-size: 7px;
  color: #32cd32;
}

.mat-icon--red {
  font-size: 7px;
  color: red;
}

@media only screen and (max-width: 600px) {
  .weekday {
    cursor: pointer;
    width: 100%;
  }

  .weekend {
    cursor: pointer;
    width: 100%;
    color: #a1a1a1;
  }
}
