
.event-info-heading {
  width: 100%;
  display: table;
  border-radius: 4px;
  background-color: #f3f3f4;
}

.event-info-content {
  width: 100%;
  display: table;
  border-radius: 4px;
  margin-top: 6px;
}

.no-events {
  position: relative;
  text-align: center;
  height: 40%;
}

.no-events__content {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a1a1a1;
  margin-top: 100px;
}

.event-summary-container {
  display: flex;
  margin-left: 12px;
  margin-right: 12px;
}

.event-summary-container--margin{
  margin: 10px;
}

.event-summary-container__content {
  width: 50%;
}

.event-summary-container--content--value {
  color: #a1a1a1;
  font-size: 14px;
  float: right;
}

.align-left {
  float: left;
}

.value-alignment {
  float: right;
}

.category-color {
  color: #a1a1a1;
}

.aligned-with-icon {
  font-size: 16px;
  margin-top: 3px;
  margin-left: 5px;
  position: absolute;
}
