<ng-container
  *ngIf="!(isEventsLoading$ | async) && (isEventsLoaded$ | async); else loading"
>
  <div class="widget-content">
    <app-timesheet></app-timesheet>
    <div class="router-content">
      <router-outlet></router-outlet>
    </div>
    <div class="widget-footer" routerLink="add-task">
      <button mat-button>ADD TASK</button>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="spinner-wrapper">
    <mat-spinner class="mat-spinner-color"></mat-spinner>
  </div>
</ng-template>
