.app-day {
  width: 100vw;
  height: 100vh;
  overflow: none;
  background-color: #f3f3f4;
}

.mat-card {
  width: 90%;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mat-spinner-color::ng-deep circle {
  stroke: #f08900 !important;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
}
