.calendar-header {
  display: flex;
  width: 90%;
  margin: auto;
}

.timesheet-header__item--link {
  font-size: 16px;
  float: right;
  color: #f08900;
  font-weight: bold;
  cursor: pointer;
}

.calendar-header__day-info {
  margin-top: 40px;
}

.calendar-header__item {
  width: 50%;
}

.calendar-header__item--date {
  font-size: 16px;
}

.week {
  display: flex;
  margin: auto;
}

.week__day {
  width: 14.28%;
}

.mat-icon {
  float: right;
  cursor: pointer;
}

.header-fixed {
  position: fixed;
  width: 90%;
  z-index: 99;
  background-color: white;
}

@media only screen and (max-width: 360px) {
  .calendar-header__item--date {
    font-size: 14px;
  }

  .timesheet-header__item--link {
    font-size: 14px;
    float: right;
    color: #f08900;
    font-weight: bold;
    cursor: pointer;
  }

  .calendar-header__day-info {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 850px) {
  .week {
    display: flex;
    margin: auto;
    width: 90%;
  }
}

.item-margin {
  margin-top: 15px;
}
