<ng-container *ngIf="weekDays$ | async as weekdays">
  <ng-container *ngIf="selectedDayInfo$ | async as selectedDayInfo">
    <div class="header-fixed">
      <div class="calendar-header">
        <div class="calendar-header__item item-margin">
          <h2>
            {{ monthNames[selectedDayInfo.month] }} {{ selectedDayInfo.year }}
          </h2>
        </div>
        <div
          class="calendar-header__item item-margin"
          (click)="onDaySelect(weekdays[6].day)"
        >
          <mat-icon class="mat-icon">calendar_today</mat-icon>
        </div>
      </div>

      <div class="week">
        <ng-container *ngFor="let weekDay of weekdays; let index = index">
          <app-day
            class="week__day"
            [isToday]="index === 6"
            [isWeekend]="weekDay.weekday === 0 || weekDay.weekday === 6"
            [weekDay]="weekDay"
            [isMarked]="(selectedDay$ | async) === weekDay.day"
            (daySelected)="onDaySelect($event)"
          ></app-day>
        </ng-container>
      </div>
      <mat-divider></mat-divider>
      <div class="calendar-header calendar-header__day-info">
        <div class="calendar-header__item">
          <p class="calendar-header__item--date">
            {{ fullWeekdayNames[selectedDayInfo.weekdayName] }}
            {{ selectedDayInfo.fullDate | date: "d.MM.YYYY" }}
          </p>
        </div>
        <div class="calendar-header__item">
          <p
            class="timesheet-header__item--link"
            [routerLink]="['/timesheet', selectedDay$ | async]"
          >
            GO TO TIMESHEET
          </p>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
